  .flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-flex-flow: row wrap;
  }
  .grid-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .inside header{
    position: relative;
    top:0px;
  }
  #breadcrumb{
    width:100%;
    padding: 15px 0px 15px 0px
  }
  #breadcrumb li{
    position:relative;
    left:30px;
  }
  .inside #map-container{
    height:400px;
    width:100%;
    top:0px;
    z-index: 9;
    position: relative;
  }
  .inside #footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 30px 0px 30px 0px;
  }
  #restaurant-name{
    text-align: center;
    max-width: 600px;
    width: 100%;
  }
  #restaurant-hours td{
    color:#000;
  }
  #restaurant-cuisine{
    max-width: 600px;
    width: 90%;
  }
  #restaurant-container{
    padding: 10px 0px 20px 0px;
    width: 100%;
  }
  #restaurant-img{
    max-height: 400px;
    max-width: 600px;
    width:90%
  }
  .flex-container{
    flex-wrap:nowrap;
    flex-direction: column;
    align-items: center;
  }
  #reviews-list li{
    width:100%;
    padding:8px 0px 8px 10px;
  }

  .enter-review{
    height:500px;
    padding:20px 0px 20px;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    position: relative;
    font-size: 14pt;
    width:100%;
  }

  .enter-comments{
    height: 150px;
    width: 336px;
    font-size: 14pt;
    font-family: inherit;
  }
  input {
    font-size: 14pt;
  }
  .comment-label {

  }

  .favorite-img{
    position: relative;
    left: 45%;
    bottom: 13px;
  }
  .rating-dropdown{
    font-size: 16pt;
  }
  .submit-button{
    font-size: 16pt;
    position: relative;
    bottom: 20px;
    left: 100px;
  }
  .input-area{
    width:90%;
  }

  @media screen and (max-width:999px){
    #reviews-container{
      width:80%;
    }
    #restaurant-address{
      font-size:14pt;
    }
    #restaurant-hours td{
      font-size: 14pt;
    }
    p{
      font-size: 14pt;
    }
  }

  @media screen and (min-width:600px){
    .enter-review{
      width: 60%;
    }
  }
@media screen and (min-width:800px){
  .enter-review{
    height:450px;
  }
}
  @media screen and (min-width:1024px){
    #reviews-container{
      width:90%;
    }
    #restaurant-address{
      font-size:18pt;
    }
    #restaurant-hours td{
      font-size: 16pt;
    }
    p{
      font-size: 15pt;
    }
    .enter-review{
      width:41%;
      height:450px;
    }
}

@media screen and (min-width:1246px){
  .enter-review{
    width: 25%;
  }
}
